<div class="game-screen-wrap">
<div class="row">
	<!--<h1>{{ title }}</h1>-->
	
	<div class="go-wrap">
	<div class="container">
	<h2 class="game-over"ng-show="ctrl.gameOver">Good game!</h2>
	</div>
	</div>

	<div class="row score-row">
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 t1-score">
	<!--<h2 ng-show="gameOver">GG!</h2>-->
	

	<h1>{{ ctrl.teamNames["teamOne"][0] }} & {{ ctrl.teamNames["teamOne"][1] }}</h1>
	<p class="score-count">{{ ctrl.scores[1] }}</p>
	</div><!-- end t1-score -->

	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 t2-score">
		<h1>{{ ctrl.teamNames["teamTwo"][0] }} & {{ ctrl.teamNames["teamTwo"][1] }}</h1>
	<p class="score-count">{{ ctrl.scores[2] }}</p>

	</div><!-- end t2-score -->

	</div><!-- end score row -->

	<div class="game-board">
		<div class="remove-wrap">
			<div class="container">
				<div class="col-lg-5 col-md-5 col-sm-8 col-xs-12 col-centered">
					
				<button type="button" class="btn btn-danger remove-button" ng-disabled="ctrl.gameOver || (ctrl.scores[1] === 0 && ctrl.scores[2] === 0)" ng-click="ctrl.removeLastScore()">Remove Last Score</button>
				<button type="button" class="btn btn-info play-screen" ng-click="ctrl.startNewGame()">Start Fresh Game</button>
				<button type="button" class="btn btn-lg btn-success winner-button" ng-disabled="!ctrl.gameOver" ng-click="ctrl.keepWinners()">Winners</button>
				<button type="button" class="btn btn-lg btn-warning rematch-button" ng-disabled="!ctrl.gameOver">Rematch</button>
			</div><!-- end container -->
		</div><!-- end remove wrap -->
	</div><!-- end remove wrap -->
	<div class="container">
	<div class="row t1-row">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 t1-half">
			<div class="team-player">
				<button type="button" class="player-button team-black" ng-click="ctrl.addScore(ctrl.players[0]._id)">
					<span class="img-bg"></span>
					<img src="{{ ctrl.players[0].pic }}" />
					<span class="pname">{{ ctrl.players[0].name }}</span>
				</button>
				<div class="player-pos-black"><span>Offense</span></div>
			</div><!-- end team-player -->
		</div><!-- end t1-half -->
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 t1-half">
			<div class="team-player">
				<button type="button" class="player-button team-black" ng-click="ctrl.addScore(ctrl.players[1]._id)">
					<span class="img-bg"></span>
					<img src="{{ ctrl.players[1].pic }}" />
					<span class="pname">{{ ctrl.players[1].name }}</span>
				</button>
				<div class="player-pos-black"><span>Defense</span></div>
			</div><!-- end team-player -->
		</div><!-- end t1-half -->
	</div><!-- end top player row -->
	
	<div class="row">
		<div class="col-lg-12 col-md-12 table-wrap">
		<div class="table"><img src="/img/foosball-table.png" /></div>
		</div>
	</div><!-- end table row -->

	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 t1-half">
			<div class="team-player">
			<div class="player-pos-yellow"><span>Defense</span></div>
				<button type="button" class="player-button team-yellow" ng-click="ctrl.addScore(ctrl.players[3]._id)">
					<span class="img-bg"></span>
					<img src="{{ ctrl.players[3].pic }}" />
					<span class="pname">{{ ctrl.players[3].name }}</span>
				</button>
			</div><!-- end team-player -->
		</div><!-- end t1-half -->
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 t1-half">
			<div class="team-player">
			<div class="player-pos-yellow"><span>Offense</span></div>
				<button type="button" class="player-button team-yellow" ng-click="ctrl.addScore(ctrl.players[2]._id)">
					<span class="img-bg"></span>
					<img src="{{ ctrl.players[2].pic }}" />
					<span class="pname">{{ ctrl.players[2].name }}</span>
				</button>
			</div><!-- end team-player -->
		</div><!-- end t2-half -->
	</div><!-- end bottom player row -->
	</div><!-- end container -->
	</div><!-- end game-board -->
</div><!-- end game-screen -->
</div><!-- end game-screen-wrap -->

