<div class="row">
	<h1>{{ title }}</h1>
	<h2 ng-show="ctrl.gameOver">GG!</h2>
	<h1>Team 1 Score: {{ scores[1] }}</h1>
	<h1>Team 2 Score: {{ scores[2] }}</h1>
	<ul>
		<li ng-repeat="player in ctrl.players">
			<button type="button" class="player-button" ng-click="ctrl.addScore(player._id)">
				<span class="img-bg"></span>
				<img src="{{ player.pic }}" />
				{{ player.name }}
				<span>{{ player.team }}</span>
				<span>{{ player.position }}</span>
			</button>
		</li>
	</ul>
	<button type="button" class="btn btn-danger" ng-click="ctrl.removeLastScore()">Remove Last Score</button>
	<a class="btn btn-danger" href="#/player">Go to the player screen</a>
</div><!-- end game-screen -->


