
<div class="container">
<div class="row">
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 player-col">

		<div class="player-sidebar">
			<h2>Players</h2>
			<ul>
				<li ng-repeat="player in players">
					<button ng-disabled="player.enabled == false" type="button" class="player-button" ng-click="addPlayerToGame(player._id)">
						<span class="img-bg"></span>
						<img src="{{ player.pic }}" />{{ player.name }}
					</button>
				</li>
			</ul>
		</div><!-- end player-sidebar -->

	</div><!-- end player-col -->

	<div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 game-col">
		<div class="game-summary">
		<h2>Game Summary</h2>
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 players-in">
				<ul>
					<li ng-repeat="player in selectedPlayers">
						<button type="button" class="player-button" ng-click="removePlayerFromGame(player._id)">
							<span class="img-bg"></span>
							<img src="{{ player.pic }}" />{{ player.name }}
						</button>
					</li>
				</ul>
			</div><!-- end players-in -->
			
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 start-button">
				<div class="start-wrap">
				<a ng-disabled="selectedPlayers.length !== 4" class="btn btn-start" href="#/game">Play!</a>
				<a ng-disabled="selectedPlayers.length < 1" class="btn btn-reset" href="#">Reset</a>
				</div><!-- end start wrap -->
			</div><!-- end start-button -->
		</div><!-- end sub-row -->
		</div><!-- end game summary -->
	</div><!-- end game-col -->
	
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 leader-col-1">
		<div class="lboard-single">
		<h2>Leaderboard</h2>
			<table class="table table-striped">
				<tr>
					<th>Player</th>
					<th></th>
					<th>Win pct.</th>
				</tr>
				
				<tr>
			    <td>Mark</td>
			    <td></td>
			    <td>85.9%</td>
			  </tr>
			  
			  <tr>
			    <td>Sterling</td>
			    <td></td>
			    <td>83.3%</td>
			  </tr>
			  
			  <tr>
			    <td>Albert</td>
			    <td></td>
			    <td>81.6%</td>
			  </tr>
			  
			  <tr>
			    <td>Adam</td>
			    <td></td>
			    <td>79.9%</td>
			  </tr>
			  
			  <tr>
			    <td>Cory</td>
			    <td></td>
			    <td>77.8%</td>
			  </tr>
			  
			  <tr>
			    <td>Cody</td>
			    <td></td>
			    <td>75.2%</td>
			  </tr>
			  
			  <tr>
			    <td>Dan</td>
			    <td></td>
			    <td>73.6%</td>
			  </tr>
			  
  			</table>
  			<h3 class="lboard-sublink"><a href="#/leaderboard">View full Leaderboard<i class="fa fa-arrow-right"></i></a></h3>
		</div><!-- end lboard-single -->
	</div>
	
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 leader-col-2">
		<div class="lboard-double">
			<h2>Team Leaderboard</h2>
			<table class="table table-striped">
				<tr>
					<th>Team</th>
					<th></th>
					<th>Win pct.</th>
				</tr>
				
				<tr>
			    <td>Mark & Adam (Adark)</td>
			    <td></td>
			    <td>85.9%</td>
			  </tr>
			  
			  <tr>
			    <td>Mark & Cory (Markry)</td>
			    <td></td>
			    <td>83.3%</td>
			  </tr>
			  
			  <tr>
			    <td>Sterling & Albert (Sterlbert)</td>
			    <td></td>
			    <td>81.6%</td>
			  </tr>
			  
			  <tr>
			    <td>Cory & Cody (Cordy)</td>
			    <td></td>
			    <td>79.9%</td>
			  </tr>
			  
			  <tr>
			    <td>Dan & Cody (Dandy)</td>
			    <td></td>
			    <td>77.8%</td>
			  </tr>
			  
			  <tr>
			    <td>Albert & Adam (Albam)</td>
			    <td></td>
			    <td>75.2%</td>
			  </tr>
			  
			  <tr>
			    <td>Kevin & Adam (Kadam)</td>
			    <td></td>
			    <td>73.6%</td>
			  </tr>
			  
  			</table>
  			<h3 class="lboard-sublink"><a href="#/leaderboard">View full Leaderboard<i class="fa fa-arrow-right"></i></a></h3>
		</div><!-- end lboard-double -->
	</div>
	
</div><!-- end player-screen -->

</div><!-- end container -->
