<div class="row">
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 player-col">

		<div class="player-sidebar">
			<h2>Players</h2>
			<ul>
				<li ng-repeat="player in players"><button  type="button" class="player-button" ng-click="addPlayer(player.name)"><span class="img-bg"></span><img src="img/adam.jpg" />{{ player.name }}</button></li>
			</ul>
		</div><!-- end player-sidebar -->

	</div><!-- end player-col -->

	<div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 game-summary">
		<h2>Game Summary</h2>
		<ul>
			<li ng-repeat="player in selectedPlayers"><button  type="button" class="player-button" ng-click="addPlayer(player.name)"><span class="img-bg"></span><img src="img/adam.jpg" />{{ player.name }}</button></li>
		</ul>
	</div><!-- end game summary -->
	<a class="btn btn-danger" href="#/game">Go to the game screen</a>
</div><!-- end player-screen -->
