/* ~#~#~#~#~#~# GLOBAL STYLES ~#~#~#~#~#~# */

body {
	background: url('../img/bizfoos-bg.jpg') no-repeat center;
	background-size: cover;
	font-family: 'Source Sans Pro', sans-serif;
}

header {
	background-color: rgba(255,255,255, 0.9);
}

.logo-box img {
	width: 200px;
}

.leader-link p {
	float: right;
	font-size: 2.143em;
	padding-top: 10px;
	font-weight: 600;
	color: #35cb71;
}

.leader-link p a {
	color: #35cb71;
	text-decoration: none;
}

.leader-link p a:hover {
	color: #35cb71;
	text-decoration: none;
}

.leader-link p i {
	padding-right: 10px;
}


/* ~#~#~#~#~#~# PLAYER SCREEN STYLES ~#~#~#~#~#~# */

.search-box{
	margin-bottom: 16px;
	padding: 10px;
	width: 100%;
	border-radius: 5px;
	font-size: 1.8em;
	border: 1px solid #ccc;
}

.player-sidebar {
	background-color: rgba(255,255,255, 0.9);
	border-radius: 6px;
	-webkit-box-shadow: 1px 1px 22px 2px rgba(0,0,0,0.45);
-moz-box-shadow: 1px 1px 22px 2px rgba(0,0,0,0.45);
box-shadow: 1px 1px 22px 2px rgba(0,0,0,0.45);

}

.player-sidebar h2 {
	color: white;
	background:#35cb71;
	-webkit-border-top-left-radius: 6px;
-webkit-border-top-right-radius: 6px;
-moz-border-radius-topleft: 6px;
-moz-border-radius-topright: 6px;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
padding-top: 10px;
padding-left: 15px;
padding-bottom: 10px;
font-family: 'Source Sans Pro', sans-serif;
font-weight: 600;
text-align: center;
border-bottom: 2px solid #2dad60;
}

.player-sidebar ul {
	padding: 10px;
}


.player-sidebar ul li {
	padding-bottom: 20px;
	list-style: none;

}

.player-sidebar ul li button {
	width: 100%;
	border-radius: 6px;
	background:#35cb71;
	color: white;
	font-size: 2.143em;
	border: 2px solid #2dad60;
}

.player-sidebar ul li button img {
	float: left;
	border-radius: 6px;
	border:1px solid #2dad60;
	width: 47px;
	height: 47px;
}

.player-sidebar ul li button span {
	position: absolute;
	height: 100%;
	width: 57px;
	top:0;
	left:0;
}


/* --- GAME SUMMARY PANEL --- */

.game-col {
	margin-bottom: 10px;
}

.game-summary {
	background-color: rgba(255,255,255, 0.9);
	border-radius: 6px;
	-webkit-box-shadow: 1px 1px 22px 2px rgba(0,0,0,0.45);
-moz-box-shadow: 1px 1px 22px 2px rgba(0,0,0,0.45);
box-shadow: 1px 1px 22px 2px rgba(0,0,0,0.45);
padding-left: 0px;
padding-right: 0px;
margin-top: 20px;
min-height: 380px;
}

.game-summary h2 {
	margin: 0px;
	color: white;
	background:#35cb71;
	-webkit-border-top-left-radius: 6px;
-webkit-border-top-right-radius: 6px;
-moz-border-radius-topleft: 6px;
-moz-border-radius-topright: 6px;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
padding-top: 10px;
padding-left: 15px;
padding-bottom: 10px;
font-family: 'Source Sans Pro', sans-serif;
font-weight: 600;
text-align: center;
border-bottom: 2px solid #2dad60;
}

.game-summary ul {
	padding: 10px;
	padding-top: 20px;
}

.game-summary ul li {
	padding-bottom: 20px;
	list-style: none;

}

.game-summary ul li:last-child {
	padding-bottom: 0px;
	

}


.game-summary ul li button img {
	float: left;
	border-radius: 6px;
	border:1px solid #2dad60;
	width: 47px;
	height: 47px;
}

.game-summary ul li button {
	width: 100%;
	border-radius: 6px;
	background:#35cb71;
	color: white;
	font-size: 2.143em;
	border: 2px solid #2dad60;
}

.start-wrap {
	padding: 15px;
}

.start-button a {
	width: 100%;
	font-size:4.443em;
	font-family: 'Source Sans Pro', sans-serif;
font-weight: 700;
color: white;
padding-top: 23px;
padding-bottom: 23px;
}

.start-button a:hover {
	text-decoration: none;
	color: white;
}

.start-button .btn-start {
	background: #35cb71; /* Old browsers */
background: -moz-linear-gradient(top,  #35cb71 0%, #3eda7c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#35cb71), color-stop(100%,#3eda7c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #35cb71 0%,#3eda7c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #35cb71 0%,#3eda7c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #35cb71 0%,#3eda7c 100%); /* IE10+ */
background: linear-gradient(to bottom,  #35cb71 0%,#3eda7c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35cb71', endColorstr='#3eda7c',GradientType=0 ); /* IE6-9 */
border: 1px solid #2dad60;
}

.start-button .btn-reset {
	background: #ee3f3f; /* Old browsers */
background: -moz-linear-gradient(top,  #ee3f3f 0%, #f85959 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ee3f3f), color-stop(100%,#f85959)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ee3f3f 0%,#f85959 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ee3f3f 0%,#f85959 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ee3f3f 0%,#f85959 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ee3f3f 0%,#f85959 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee3f3f', endColorstr='#f85959',GradientType=0 ); /* IE6-9 */
border: 1px solid #c33b3b;
margin-top: 20px;
}



.player-button[disabled="disabled"] {
	opacity: .5;
}

.btn-start[disabled="disabled"] {
	background: #e2e2e2;
	color: #a7a7a7;
	border: 1px solid #c9c7c7;
}


/* --- LEADERBOARD PANEL [SINGLE] --- */


.lboard-single {
	background-color: rgba(255,255,255, 0.9);
	border-radius: 6px;
	-webkit-box-shadow: 1px 1px 22px 2px rgba(0,0,0,0.45);
-moz-box-shadow: 1px 1px 22px 2px rgba(0,0,0,0.45);
box-shadow: 1px 1px 22px 2px rgba(0,0,0,0.45);
padding-left: 0px;
padding-right: 0px;
margin-top: 20px;
min-height: 377px;
padding-bottom: 15px;
}

.lboard-single h2 {
	margin: 0px;
	color: white;
	background:#35cb71;
	-webkit-border-top-left-radius: 6px;
-webkit-border-top-right-radius: 6px;
-moz-border-radius-topleft: 6px;
-moz-border-radius-topright: 6px;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
padding-top: 10px;
padding-left: 15px;
padding-bottom: 10px;
font-family: 'Source Sans Pro', sans-serif;
font-weight: 600;
text-align: center;
border-bottom: 2px solid #2dad60;
}

.lboard-single h3 {
	font-family: 'Source Sans Pro', sans-serif;
font-weight: 600;
text-align: right;
padding-right: 15px;
color: #35cb71;
font-size: 1.286em;
}

.lboard-single h3 a {
	color: #35cb71;
}

.lboard-single h3 i {
	padding-left: 10px;
	color: #35cb71;
}

.lboard-single table {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	font-size: 1.143em;
	list-style: none;
	
}

.table-striped {
	
	
}

.table-striped th {
	font-size: 1.229em;
}

.table-striped>tbody>tr:nth-child(odd) {
	color: #32b365;
	background: transparent;
}

.table-striped>tbody>tr:nth-child(even) {
	color: white;
	background: #32b365;
}

.leader-col-1 {
	
}

/* --- LEADERBOARD PANEL [DOUBLE- TEAMS] --- */


.lboard-double {
	background-color: rgba(255,255,255, 0.9);
	border-radius: 6px;
	-webkit-box-shadow: 1px 1px 22px 2px rgba(0,0,0,0.45);
-moz-box-shadow: 1px 1px 22px 2px rgba(0,0,0,0.45);
box-shadow: 1px 1px 22px 2px rgba(0,0,0,0.45);
padding-left: 0px;
padding-right: 0px;
margin-top: 20px;
min-height: 377px;
padding-bottom: 15px;
}

.lboard-double h2 {
	margin: 0px;
	color: white;
	background:#35cb71;
	-webkit-border-top-left-radius: 6px;
-webkit-border-top-right-radius: 6px;
-moz-border-radius-topleft: 6px;
-moz-border-radius-topright: 6px;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
padding-top: 10px;
padding-left: 15px;
padding-bottom: 10px;
font-family: 'Source Sans Pro', sans-serif;
font-weight: 600;
text-align: center;
border-bottom: 2px solid #2dad60;
}

.lboard-double h3 {
	font-family: 'Source Sans Pro', sans-serif;
font-weight: 600;
text-align: right;
padding-right: 15px;
color: #35cb71;
font-size: 1.286em;
}

.lboard-double h3 a {
	color: #35cb71;
}

.lboard-double h3 i {
	padding-left: 10px;
	color: #35cb71;
}

.lboard-double table {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	font-size: 1.143em;
	list-style: none;
	
}

.leader-col-2 {
	
}


/* ~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~# GAME SCREEN STYLES ~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~# */

.score-row {
	
}

.game-over {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	color: #35cb71;
	background: white;
	margin-bottom: 20px;
	text-align: center;
}

.go-wrap {
	background-color: white;
}

.score-row h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	font-size: 2.386em;
	text-align: center;
	color: white;
}

.score-count {
	
	font-size: 6em;
	text-shadow: 0px 0px 10px rgba(33, 60, 44, 1);
	color: white;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	background: rgb(105,234,137); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(105,234,137,1) 25%, rgba(52,124,81,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(25%,rgba(105,234,137,1)), color-stop(100%,rgba(52,124,81,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(105,234,137,1) 25%,rgba(52,124,81,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(105,234,137,1) 25%,rgba(52,124,81,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(105,234,137,1) 25%,rgba(52,124,81,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(105,234,137,1) 25%,rgba(52,124,81,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69ea89', endColorstr='#347c51',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	width: 40%;
text-align: center;
margin: 0 auto;


	-webkit-box-shadow: inset 0px 0px 23px 4px rgba(42,115,71,1);
-moz-box-shadow: inset 0px 0px 23px 4px rgba(42,115,71,1);
box-shadow: inset 0px 0px 23px 4px rgba(42,115,71,1);
	
	border-radius: 8px;
	border: 1px solid #236f41;
}

 .score-box {
	padding: 15px 15px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.t2-score .score-box {
	background: #37b569;
	-webkit-box-shadow: inset 0px 0px 23px 4px rgba(42,115,71,1);
	-moz-box-shadow: inset 0px 0px 23px 4px rgba(42,115,71,1);
	box-shadow: inset 0px 0px 23px 4px rgba(42,115,71,1);
	padding: 10px;
	border-radius: 8px;
	border: 1px solid #304c3b;
}



/* ----- GAME BOARD STUFF ---- */

.col-centered {
	margin: 0 auto;
	float: none;
	text-align: center;
}

.remove-wrap {
	background-color: white;
	padding-top: 15px;
	padding-bottom: 15px;

}

.remove-wrap
{
  	position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.remove-wrap:before, .remove-wrap:after
{
	content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
} 
.remove-wrap:after
{
	right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
       -moz-transform:skew(8deg) rotate(3deg);     
        -ms-transform:skew(8deg) rotate(3deg);     
         -o-transform:skew(8deg) rotate(3deg); 
            transform:skew(8deg) rotate(3deg);
}


.remove-button {
	float: left;
	
	background: rgba(217,65,65,1);
	padding: 8px 12px;
	font-size: 16px;
	color: white;
	border-radius: 3px;
	border: 1px solid #982e2e;
	background: -moz-linear-gradient(top, rgba(217,65,65,1) 0%, rgba(255,77,77,1) 33%, rgba(190,62,62,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(217,65,65,1)), color-stop(33%, rgba(255,77,77,1)), color-stop(100%, rgba(190,62,62,1)));
	background: -webkit-linear-gradient(top, rgba(217,65,65,1) 0%, rgba(255,77,77,1) 33%, rgba(190,62,62,1) 100%);
	background: -o-linear-gradient(top, rgba(217,65,65,1) 0%, rgba(255,77,77,1) 33%, rgba(190,62,62,1) 100%);
	background: -ms-linear-gradient(top, rgba(217,65,65,1) 0%, rgba(255,77,77,1) 33%, rgba(190,62,62,1) 100%);
	background: linear-gradient(to bottom, rgba(217,65,65,1) 0%, rgba(255,77,77,1) 33%, rgba(190,62,62,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d94141', endColorstr='#be3e3e', GradientType=0 );
	outline: none;
}

.remove-button:hover {
	color: white;
}

.remove-button:active {
	color: white;
	background: rgba(217,65,65,1);
	background: -moz-linear-gradient(top, rgba(217,65,65,1) 0%, rgba(255,77,77,1) 33%, rgba(190,62,62,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(217,65,65,1)), color-stop(33%, rgba(255,77,77,1)), color-stop(100%, rgba(190,62,62,1)));
	background: -webkit-linear-gradient(top, rgba(217,65,65,1) 0%, rgba(255,77,77,1) 33%, rgba(190,62,62,1) 100%);
	background: -o-linear-gradient(top, rgba(217,65,65,1) 0%, rgba(255,77,77,1) 33%, rgba(190,62,62,1) 100%);
	background: -ms-linear-gradient(top, rgba(217,65,65,1) 0%, rgba(255,77,77,1) 33%, rgba(190,62,62,1) 100%);
	background: linear-gradient(to bottom, rgba(217,65,65,1) 0%, rgba(255,77,77,1) 33%, rgba(190,62,62,1) 100%);
	-webkit-box-shadow: inset 0px 0px 7px 3px rgba(50, 50, 50, 0.4);
-moz-box-shadow:    inset 0px 0px 7px 3px rgba(50, 50, 50, 0.4);
box-shadow:         inset 0px 0px 7px 3px rgba(50, 50, 50, 0.4);
outline: none;
}



.new-button {
outline: none;
	float: right;
	background: rgba(217,65,65,1);
	padding: 8px 12px;
	font-size: 16px;
	color: white;
	border-radius: 3px;
	border: 1px solid #29854e;
	background: rgba(47,185,102,1);
	background: -moz-linear-gradient(top, rgba(47,185,102,1) 0%, rgba(53,203,113,1) 32%, rgba(43,171,94,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(47,185,102,1)), color-stop(32%, rgba(53,203,113,1)), color-stop(100%, rgba(43,171,94,1)));
	background: -webkit-linear-gradient(top, rgba(47,185,102,1) 0%, rgba(53,203,113,1) 32%, rgba(43,171,94,1) 100%);
	background: -o-linear-gradient(top, rgba(47,185,102,1) 0%, rgba(53,203,113,1) 32%, rgba(43,171,94,1) 100%);
	background: -ms-linear-gradient(top, rgba(47,185,102,1) 0%, rgba(53,203,113,1) 32%, rgba(43,171,94,1) 100%);
	background: linear-gradient(to bottom, rgba(47,185,102,1) 0%, rgba(53,203,113,1) 32%, rgba(43,171,94,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2fb966', endColorstr='#2bab5e', GradientType=0 );
}

.new-button:active {
outline: none;
	color: white;
	background: rgba(47,185,102,1);
	background: -moz-linear-gradient(top, rgba(47,185,102,1) 0%, rgba(53,203,113,1) 32%, rgba(43,171,94,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(47,185,102,1)), color-stop(32%, rgba(53,203,113,1)), color-stop(100%, rgba(43,171,94,1)));
	background: -webkit-linear-gradient(top, rgba(47,185,102,1) 0%, rgba(53,203,113,1) 32%, rgba(43,171,94,1) 100%);
	background: -o-linear-gradient(top, rgba(47,185,102,1) 0%, rgba(53,203,113,1) 32%, rgba(43,171,94,1) 100%);
	background: -ms-linear-gradient(top, rgba(47,185,102,1) 0%, rgba(53,203,113,1) 32%, rgba(43,171,94,1) 100%);
	background: linear-gradient(to bottom, rgba(47,185,102,1) 0%, rgba(53,203,113,1) 32%, rgba(43,171,94,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2fb966', endColorstr='#2bab5e', GradientType=0 );
	-webkit-box-shadow: inset 0px 0px 7px 3px rgba(50, 50, 50, 0.4);
-moz-box-shadow:    inset 0px 0px 7px 3px rgba(50, 50, 50, 0.4);
box-shadow:         inset 0px 0px 7px 3px rgba(50, 50, 50, 0.4);
outline: none;
}

.remove-button[disabled="disabled"] {
	opacity: .5;
}

.winner-button[disabled="disabled"] {
	opacity: .5;
}

.rematch-button[disabled="disabled"] {
	opacity: .5;
}

.play-screen {
	float: right;
	margin-top: 5px;
}

.drop-circle {
	width: 15px;
	height: 15px;
	float: right;
	background-color: yellow;
	border-radius: 8px;
}


.winner-button {
	margin-right: 20px;
	display: inline-block;
	padding: 8px 12px;
	font-size: 16px;
	color: white;
	border-radius: 3px;
	border: 1px solid #20719d;
	background: rgba(74,168,218,1);
background: -moz-linear-gradient(top, rgba(74,168,218,1) 0%, rgba(103,191,235,1) 32%, rgba(40,141,195,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(74,168,218,1)), color-stop(32%, rgba(103,191,235,1)), color-stop(100%, rgba(40,141,195,1)));
background: -webkit-linear-gradient(top, rgba(74,168,218,1) 0%, rgba(103,191,235,1) 32%, rgba(40,141,195,1) 100%);
background: -o-linear-gradient(top, rgba(74,168,218,1) 0%, rgba(103,191,235,1) 32%, rgba(40,141,195,1) 100%);
background: -ms-linear-gradient(top, rgba(74,168,218,1) 0%, rgba(103,191,235,1) 32%, rgba(40,141,195,1) 100%);
background: linear-gradient(to bottom, rgba(74,168,218,1) 0%, rgba(103,191,235,1) 32%, rgba(40,141,195,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4aa8da', endColorstr='#288dc3', GradientType=0 );
}

.winner-button:active {
outline: none;
	color: white;
	background: rgba(74,168,218,1);
background: -moz-linear-gradient(top, rgba(74,168,218,1) 0%, rgba(103,191,235,1) 32%, rgba(40,141,195,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(74,168,218,1)), color-stop(32%, rgba(103,191,235,1)), color-stop(100%, rgba(40,141,195,1)));
background: -webkit-linear-gradient(top, rgba(74,168,218,1) 0%, rgba(103,191,235,1) 32%, rgba(40,141,195,1) 100%);
background: -o-linear-gradient(top, rgba(74,168,218,1) 0%, rgba(103,191,235,1) 32%, rgba(40,141,195,1) 100%);
background: -ms-linear-gradient(top, rgba(74,168,218,1) 0%, rgba(103,191,235,1) 32%, rgba(40,141,195,1) 100%);
background: linear-gradient(to bottom, rgba(74,168,218,1) 0%, rgba(103,191,235,1) 32%, rgba(40,141,195,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4aa8da', endColorstr='#288dc3', GradientType=0 );
	-webkit-box-shadow: inset 0px 0px 7px 3px rgba(50, 50, 50, 0.4);
-moz-box-shadow:    inset 0px 0px 7px 3px rgba(50, 50, 50, 0.4);
box-shadow:         inset 0px 0px 7px 3px rgba(50, 50, 50, 0.4);
}

.rematch-button {
	display: inline-block;
	padding: 8px 12px;
	font-size: 16px;
	color: white;
	border-radius: 3px;
	background: rgba(243,185,89,1);
background: -moz-linear-gradient(top, rgba(243,185,89,1) 0%, rgba(245,200,128,1) 33%, rgba(218,168,82,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(243,185,89,1)), color-stop(33%, rgba(245,200,128,1)), color-stop(100%, rgba(218,168,82,1)));
background: -webkit-linear-gradient(top, rgba(243,185,89,1) 0%, rgba(245,200,128,1) 33%, rgba(218,168,82,1) 100%);
background: -o-linear-gradient(top, rgba(243,185,89,1) 0%, rgba(245,200,128,1) 33%, rgba(218,168,82,1) 100%);
background: -ms-linear-gradient(top, rgba(243,185,89,1) 0%, rgba(245,200,128,1) 33%, rgba(218,168,82,1) 100%);
background: linear-gradient(to bottom, rgba(243,185,89,1) 0%, rgba(245,200,128,1) 33%, rgba(218,168,82,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3b959', endColorstr='#daa852', GradientType=0 );
border: 1px solid #8c7246;
}

.rematch-button:active {
outline: none;
	color: white;
	background: rgba(243,185,89,1);
background: -moz-linear-gradient(top, rgba(243,185,89,1) 0%, rgba(245,200,128,1) 33%, rgba(218,168,82,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(243,185,89,1)), color-stop(33%, rgba(245,200,128,1)), color-stop(100%, rgba(218,168,82,1)));
background: -webkit-linear-gradient(top, rgba(243,185,89,1) 0%, rgba(245,200,128,1) 33%, rgba(218,168,82,1) 100%);
background: -o-linear-gradient(top, rgba(243,185,89,1) 0%, rgba(245,200,128,1) 33%, rgba(218,168,82,1) 100%);
background: -ms-linear-gradient(top, rgba(243,185,89,1) 0%, rgba(245,200,128,1) 33%, rgba(218,168,82,1) 100%);
background: linear-gradient(to bottom, rgba(243,185,89,1) 0%, rgba(245,200,128,1) 33%, rgba(218,168,82,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3b959', endColorstr='#daa852', GradientType=0 );
	-webkit-box-shadow: inset 0px 0px 7px 3px rgba(50, 50, 50, 0.4);
-moz-box-shadow:    inset 0px 0px 7px 3px rgba(50, 50, 50, 0.4);
box-shadow:         inset 0px 0px 7px 3px rgba(50, 50, 50, 0.4);
}


.game-screen-wrap {
	overflow: hidden;
}

.game-board {
	/*background-color: rgba(255,255,255, 0.9); */
	padding-top: 30px;
	background-color: rgba(65, 179, 110, 1); 
	
}

.game-board ul li {
	list-style: none;
}

.team-player {
	display: inline-block;
	margin: 0 auto;
}

.team-player button {
	border-radius: 6px;
	background:#35cb71;
	color: white;
	font-size: 2.143em;
	border: 2px solid #2dad60;
	min-width: 80%;
	outline: none;
	-webkit-box-shadow: 0px 6px 11px 0px rgba(50, 50, 50, 0.50);
-moz-box-shadow:    0px 6px 11px 0px rgba(50, 50, 50, 0.50);
box-shadow:         0px 6px 11px 0px rgba(50, 50, 50, 0.50);

}

.team-player button:active {
	
	position: relative;
  top: 3px;
  -webkit-box-shadow: 0px 4px 11px 0px rgba(50, 50, 50, 0.90);
-moz-box-shadow:    0px 4px 11px 0px rgba(50, 50, 50, 0.90);
box-shadow:         0px 4px 11px 0px rgba(50, 50, 50, 0.90);
}



.team-player button img {
	float: left;
	border-radius: 6px;
	border:1px solid #2dad60;
	width: 75px;
	height: 75px;
	margin-right: 10px;
}

.team-player {
	width: 100%;
	text-align: center;
}

.t1-row {
	padding-top: 30px;
}

.name-pos {
	padding-top: 15px;
display: inline-block;
}


.t1-half, .t2-half {
	padding-top: 15px;
	padding-bottom: 15px;
}

.table {
	margin: 0 auto;
}

.table-wrap {
	padding-top: 15px;
	padding-bottom: 15px;
}

.table img {
	display: block;
	margin: 0 auto;
	-webkit-box-shadow: 0px 6px 19px 0px rgba(50, 50, 50, 0.77);
-moz-box-shadow:    0px 6px 19px 0px rgba(50, 50, 50, 0.77);
box-shadow:         0px 6px 19px 0px rgba(50, 50, 50, 0.77);
}

.pname {
	margin-top: 15px;
	display: inline-block;
}

.player-pos-yellow {
	width: 100%;
	display: inline-block;
	font-size: 19px;
	margin-bottom: 20px;
	margin-top: 20px;
}


.player-pos-black {
	width: 100%;
	display: inline-block;
	font-size: 19px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.player-pos-black span, .player-pos-yellow span {
	padding: 10px 15px;
	background: rgba(47,185,102,1);
background: -moz-linear-gradient(top, rgba(47,185,102,1) 0%, rgba(53,203,113,1) 32%, rgba(43,171,94,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(47,185,102,1)), color-stop(32%, rgba(53,203,113,1)), color-stop(100%, rgba(43,171,94,1)));
background: -webkit-linear-gradient(top, rgba(47,185,102,1) 0%, rgba(53,203,113,1) 32%, rgba(43,171,94,1) 100%);
background: -o-linear-gradient(top, rgba(47,185,102,1) 0%, rgba(53,203,113,1) 32%, rgba(43,171,94,1) 100%);
background: -ms-linear-gradient(top, rgba(47,185,102,1) 0%, rgba(53,203,113,1) 32%, rgba(43,171,94,1) 100%);
background: linear-gradient(to bottom, rgba(47,185,102,1) 0%, rgba(53,203,113,1) 32%, rgba(43,171,94,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2fb966', endColorstr='#2bab5e', GradientType=0 );
	border-radius: 3px;
	color: white;
	border: 1px solid #29854e;
	text-transform: uppercase;
	display: inline-block;
}


.team-player .team-yellow {
	background: rgba(243,185,89,1);
background: -moz-linear-gradient(top, rgba(243,185,89,1) 0%, rgba(245,200,128,1) 33%, rgba(218,168,82,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(243,185,89,1)), color-stop(33%, rgba(245,200,128,1)), color-stop(100%, rgba(218,168,82,1)));
background: -webkit-linear-gradient(top, rgba(243,185,89,1) 0%, rgba(245,200,128,1) 33%, rgba(218,168,82,1) 100%);
background: -o-linear-gradient(top, rgba(243,185,89,1) 0%, rgba(245,200,128,1) 33%, rgba(218,168,82,1) 100%);
background: -ms-linear-gradient(top, rgba(243,185,89,1) 0%, rgba(245,200,128,1) 33%, rgba(218,168,82,1) 100%);
background: linear-gradient(to bottom, rgba(243,185,89,1) 0%, rgba(245,200,128,1) 33%, rgba(218,168,82,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3b959', endColorstr='#daa852', GradientType=0 );
border: 1px solid #8c7246;
}

.team-player .team-yellow img {
	border: 1px solid #daa852;
}


.team-player .team-yellow .pname {
	/*background-color: #9d7839; */
	
  color: #ffffff;
  /*text-shadow: 0px 2px 3px rgba(255,255,255,0.5); */
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
    font-weight: 600;
}

.team-player .team-black {
	border: 1px solid #1b1d1b;
	background: rgba(46,54,49,1);
background: -moz-linear-gradient(top, rgba(46,54,49,1) 0%, rgba(75,79,77,1) 33%, rgba(36,40,37,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(46,54,49,1)), color-stop(33%, rgba(75,79,77,1)), color-stop(100%, rgba(36,40,37,1)));
background: -webkit-linear-gradient(top, rgba(46,54,49,1) 0%, rgba(75,79,77,1) 33%, rgba(36,40,37,1) 100%);
background: -o-linear-gradient(top, rgba(46,54,49,1) 0%, rgba(75,79,77,1) 33%, rgba(36,40,37,1) 100%);
background: -ms-linear-gradient(top, rgba(46,54,49,1) 0%, rgba(75,79,77,1) 33%, rgba(36,40,37,1) 100%);
background: linear-gradient(to bottom, rgba(46,54,49,1) 0%, rgba(75,79,77,1) 33%, rgba(36,40,37,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e3631', endColorstr='#242825', GradientType=0 );
}

.team-player .team-black .pname {
	
  color: #ffffff;
  /*text-shadow: 0px 2px 3px rgba(255,255,255,0.5); */
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
    font-weight: 600;
}

.team-player .team-black img {
	border: 1px solid #1b1d1b;
}

.table-row {
	display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}


