<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <title>Get dem changed files</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!--<link rel="shortcut icon" type="image/x-icon" href="assets/icons/">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- build:css -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/main.css"/>
	<!-- endbuild -->
</head>
<body>
<div class="container">
	<div ng-controller="PlayerController" ng-show="showScreen" class="player-screen">
		<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 player-col">
		
			<div class="player-sidebar">
			<h2>Players</h2>
			<ul>
			<li ng-repeat="player in players"><button  type="button" class="player-button" ng-click="addPlayer(player.name)"><span class="img-bg"></span><img src="img/adam.jpg" />{{ player.name }}</button></li>
			</ul>
			</div><!-- end player-sidebar -->
			
		</div><!-- end player-col -->
		
		<div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 game-summary">
		<h2>Game Summary</h2>
		<ul>
		<li ng-repeat="player in selectedPlayers"><button  type="button" class="player-button" ng-click="addPlayer(player.name)"><span class="img-bg"></span><img src="img/adam.jpg" />{{ player.name }}</button></li>
		</ul>
		</div><!-- end game summary -->
		<button type="button" class="btn btn-danger" ng-click="changeScreen('game')">Change to game screen</button>
	</div><!-- end player-screen -->

	<div ng-controller="GameController" ng-show="showScreen" class="game-screen">
		<h1>{{ title }}</h1>

		<button type="button" class="btn btn-danger" ng-click="changeScreen('player')">Change to player screen</button>
	</div><!-- end game-screen -->
	</div><!-- end row -->
</div><!-- end container -->
<script src="components/lodash/dist/lodash.min.js"></script>
<script src="components/angular/angular.js"></script>

<script src="js/app.js"></script>
<script src="js/services/screenService.js"></script>
<script src="js/services/gameService.js"></script>
<script src="js/controllers/playerController.js"></script>
<script src="js/controllers/gameController.js"></script>
</body>
</html>
